* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: -moz-hidden-unscrollable; */
  font-family: sans-serif;
}

nav,
ul,
li,
a {
  z-index: 1;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #000;
  color: #ddd;
  z-index: 1;
}

h4 {
  margin: 0 10px;
  padding: 0 15px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  margin: 0 10px;
  padding: 2.5px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

li:hover {
  border-color: #ddd;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: #ddd;
}

section {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    rgb(10, 10, 10),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(10, 10, 10)
  );
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  color: #ddd;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#video {
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
}

#video:hover {
  pointer-events: none;
}

#cover {
  height: 90vh;
  width: 100vw;
  background-color: rgba(10, 10, 10, 0.5);
  z-index: 1;
}

#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  height: 50%;
  width: 60%;
  background-color: white;
}
